html {
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  color: white;
}

h1 {
  font-size: 2rem;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  /*height: 50px;*/
  width: 100%;
  /*padding: 0 1rem;*/
  position: fixed;
  z-index: 20;
}

header h3 {
  margin: 0.66rem 0rem;
}

header img {
  height: 1.5rem;
  margin-right: 1rem;
  margin-left: 0.5rem;
}

.flexbox {
  display: flex;
  align-items: center;
}

.banner {
  width: 100%;
  height: 25rem;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
  /*background-position: 0% 100%;*/
  background-position-x: 30%;
  background-position-y: 30%;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
}

.container {
  width: 960px;
  /*background-color: yellow;*/
  justify-content: flex-start;
  height: 100%;
}

.navstripe .container {
  justify-content: space-between;
}

.grid .container {
  margin: 3rem 0rem;
  height: auto;
  justify-content: space-between;
}

.headline {
  /*height: 150px;*/
  width: 25rem;
  background-color: black;
  flex-direction: column;
  align-items: flex-start;
  /*justify-content: flex-end;*/
  font-weight: bold;
}

.minHeadline{
  display: none;
}

.banner .container {
  align-items: flex-start;
  margin-top: 11rem;
}

.headline h1 {
  margin-top: 1.5rem;
  margin-left: 3rem;
  margin-bottom: 3rem;
  margin-right: 2rem;
}

.headline h3 {
  margin-top: 2rem;
  margin-left: 3rem;
}

.navstripe {
  justify-content: center;
  background-color: firebrick;
  height: 50px;
  width: 100%
}

.minMenu {
  display: none;
}

.navstripe a {
  text-decoration: none;
  margin: 0.75rem 0rem;
  color: white;
}

.grid {
  justify-content: center;
  height: auto;
  width: 100%;
  /*background-color: orange;*/
}

.item {
  flex-direction: column;
  justify-content: space-between;
  border: 4px solid black;
  height: auto;
  width: 30%;
  margin-top: 1rem;
  /*background-color: orangeRed;*/
}

.grid img {
  margin: 2rem 0rem;
  width: 9rem;
  max-width: 9rem;
}

.imageTitle {
  height: 100%;
  width: 100%;
  background-color: black;
  justify-content: center;
}

.imageTitle h3 {
  margin: 0.5rem 0rem;
}

.imagebox {
  height: 13rem;
  width: 100%;
  background-color: white;
  justify-content: center;
}

.contact {
  height: auto;
  width: 100%;
  background-color: white;
  justify-content: center;
}

.contact .container {
  justify-content: space-between;
  /*background-color: green;*/
  margin-bottom: 4rem;
}

.info {
  flex-direction: column;
  width: 35%;
}

.topInfo {
  height: 70%;
  width: 100%;
  background-color: black;
}

.topInfo h3 {
  margin: 1rem 2rem;

}

.bottomInfo {
  height: 30%;
  width: 100%;
  background-color: white;
}

.bottomInfo h3 {
  color: black;
}

footer {
  justify-content: center;
  width: 100%;
  height: 5rem;
  background-color: black;
}

footer .container {
  justify-content: flex-start;
}

@media only screen and (max-width: 1024px){

  .grid .container {
    flex-wrap: wrap;
  }

  .item {
    width: 47%;
    margin-top: 1rem;
  }

  header img {
    filter: blur(0.8px);
  }

  .banner {
    background-attachment: fixed;
    background-position-x: 30%;
    background-position-y: 50%;
  }

  .headline {
    opacity: 0.93;
  }

  .minHeadline{
    display: block;
    background-color: black;
    width: 100%
    height: auto;
  }

  .maxMenu {
    display: none;
  }

  .minMenu {
    display: block;
    text-align: center;
  }

  .navstripe .container {
    justify-content: center;
  }

  .medGrid{
    display: none;
  }

  h1{
    font-size: 1.5rem;
  }

  .headline{
    width: 20rem;
  }

  .minHeadline{
    display: none;
  }

}


@media only screen and (max-width: 470px){

.container{
  width: 100%;
}

.headline{
  display: none;
}

.banner .container{
  display: none;
}

.minHeadline {
  display: block;
  width: 100%
  background-color: black;
  height: 100%;
  font-weight: bold;

}

.minHeadline h2{
  padding: 1rem 0rem 0.5rem 2rem;
  font-size: 0.77rem;
  background-color: black;
}

.minHeadline h1{
  font-size: 1rem;
  padding: 0.5rem 0rem 1rem 2rem;

}

.banner{
  background-position: center;
  background-attachment: local;
  height: 15rem;
}


  .item {
    width: 90%;
    margin-top: 1rem;
  }

  .grid .container {
    justify-content: center;
  }

.minGrid{
  display: none;
}

.contact .container {
  flex-direction: column;
}

.info {
  margin-bottom: 0.5rem;
  width: 90%
}

footer .container {
  justify-content: center;
}





}
