html{
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  color: white;
}

h1{
  font-size: 2rem;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 50px;
  width: 100%;
  /*padding: 0 1rem;*/
  position: fixed;
}

.container img {
  height: 1.5rem;
  margin-right: 1rem;
  margin-left: 0.5rem;
}

.flexbox {
  display: flex;
  align-items: center;
}

.banner {
  width: 100%;
  height: 400px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
  /*background-position: 0% 100%;*/
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
}

.container {
  width: 960px;
  justify-content: flex-start;
  /*background-color: yellow;*/
  height: 100%;
}

.container li{
  justify-content: space-between;
}

.headline {
  height: 150px;
  width: 350px;
  background-color: black;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 1.5rem 2.5rem;
  font-weight: bold;
}

.headline h1{
  padding-bottom: 1rem;
}

.headline h3{
  padding-top: 0.5rem;
}

.navstripe{
  justify-content: center;
  background-color: red;
  height: 50px;
  width: 100%
}

.navstripe a {
  text-decoration: none;
  padding: 1rem;
  margin: 1rem;
  color: white;
}

.grid {
  justify-content: center;
  height: 350px;
  width: 100%
  background-color: white
}

.item {
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid black;
  margin: 2rem;
  height: 250px;
  min-width: 250px;
  background-color: orangeRed;
}

.grid img {
  width: 60%;
  max-width: 250px;
}

.imageTitle {
  height: 20%;
  width: 100%;
  background-color: black;
  justify-content: center;
}

.imagebox {
  height: 80%;
  width: 100%;
  background-color: white;
  justify-content: center;
}

.contact {
  height: 100px;
  width: 100%;
  background-color: white;
  justify-content: space-between;
  margin-bottom: 80px;
}

.info {
  flex-direction: column;
  margin: 10%;
  height: 80px;
  width: 300px;
}

.topInfo {
  height: 70%;
  width: 100%;
  background-color: black;
}

.topInfo h3{
  margin-left: 10%;
}

.bottomInfo {
  height: 30%;
  width: 100%;
  background-color: white;
}

.bottomInfo h3{
  color: black;
}

footer {
  width: 100%;
  height: 150px;
  background-color: black;
}

footer h3 {
  margin-left: 10%;
}
